{
  "presets": [
    [
      "env",
      {
        "esmodules": false,
        "targets": {
          "browsers": [
            "> 10%"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
